<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
		<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
		<string>MetaPost</string>
	<key>BBLMLanguageCode</key>
		<string>MPst</string>
	<key>BBLMSuffixMap</key>
		<array>
			<dict>
				<key>BBLMLanguageSuffix</key>
					<string>.mp</string>
			</dict>
		</array>
	<key>BBLMSupportsTextCompletion</key>
		<true/>
	<key>BBLMIsCaseSensitive</key>
		<true/>
	<key>BBLMScansFunctions</key>
		<true/>
	<key>BBLMColorsSyntax</key>
		<true/>

	<key>BBLMKeywordList</key>
		<array>
		<string>end</string>
		<string>begingroup</string>
		<string>endgroup</string>
		<string>beginfig</string>
		<string>endfig</string>
		<string>input</string>

		<string>def</string>
		<string>vardef</string>
		<string>enddef</string>
		<string>expr</string>
		<string>of</string>
		<string>suffix</string>
		<string>text</string>
		<string>primary</string>
		<string>secondary</string>
		<string>tertiary</string>
		<string>primarydef</string>
		<string>secondarydef</string>
		<string>tertiarydef</string>
		<string>newinternal</string>

		<string>drawoptions</string>
		<string>label</string>
		<string>dotlabel</string>
		<string>labels</string>
		<string>dotlabels</string>
		<string>lft</string>
		<string>rt</string>
		<string>top</string>
		<string>bot</string>
		<string>ulft</string>
		<string>urt</string>
		<string>llft</string>
		<string>lrt</string>

		<string>boolean</string>
		<string>cmykcolor</string>
		<string>color</string>
		<string>numeric</string>
		<string>pair</string>
		<string>path</string>
		<string>pen</string>
		<string>picture</string>
		<string>rgbcolor</string>
		<string>string</string>
		<string>transform</string>

		<string>if</string>
		<string>fi</string>
		<string>else</string>
		<string>elseif</string>
		<string>for</string>
		<string>forsuffixes</string>
		<string>forever</string>
		<string>endfor</string>
		<string>exitif</string>
		<string>exitunless</string>
		<string>upto</string>
		<string>downto</string>
		<string>step</string>
		<string>until</string>
		<string>within</string>

		<string>min</string>
		<string>max</string>
		<string>incr</string>
		<string>decr</string>
		<string>buildcycle</string>
		<string>dashpattern</string>
		<string>on</string>
		<string>off</string>
		<string>drawdot</string>
		<string>image</string>
		<string>interpath</string>
		<string>thelabel</string>
		<string>z</string>

		<string>clip</string>
		<string>interim</string>
		<string>let</string>
		<string>pickup</string>
		<string>randomseed</string>
		<string>save</string>
		<string>setbounds</string>
		<string>shipout</string>
		<string>write</string>
		<string>to</string>
		<string>readfrom</string>
		<string>readstring</string>
		<string>closefrom</string>

		<string>addto</string>
		<string>also</string>
		<string>contour</string>
		<string>doublepath</string>

		<string>withcmykcolor</string>
		<string>withcolor</string>
		<string>withgreyscale</string>
		<string>withoutcolor</string>
		<string>withpostscript</string>
		<string>withprescript</string>
		<string>withrgbcolor</string>
		<string>withpen</string>
		<string>dashed</string>

		<string>draw</string>
		<string>fill</string>
		<string>filldraw</string>
		<string>undraw</string>
		<string>unfill</string>
		<string>unfilldraw</string>
		<string>drawarrow</string>
		<string>drawdblarrow</string>
		<string>cutdraw</string>

		<string>show</string>
		<string>showdependencies</string>
		<string>showtoken</string>
		<string>showvariable</string>
		<string>errhelp</string>
		<string>errmessage</string>
		<string>filenametemplate</string>
		<string>message</string>
		<string>stop</string>
		<string>gobble</string>
		<string>hide</string>

		<string>fontmapfile</string>
		<string>fontmapline</string>
		<string>special</string>
		<string>loggingall</string>
		<string>tracingall</string>
		<string>tracingnone</string>
		<string>batchmode</string>
		<string>nonstopmode</string>
		<string>scrollmode</string>
		<string>errormode</string>

		<string>btex</string>
		<string>etex</string>
		<string>str</string>
		<string>cycle</string>
		<string>controls</string>
		<string>curl</string>
		<string>tension</string>

		<string>rotated</string>
		<string>scaled</string>
		<string>shifted</string>
		<string>slanted</string>
		<string>transformed</string>
		<string>xscaled</string>
		<string>yscaled</string>
		<string>zscaled</string>
		<string>reflectedabout</string>
		<string>rotatedaround</string>

		<string>false</string>
		<string>true</string>
		<string>whatever</string>
		<string>pencircle</string>
		<string>nullpen</string>
		<string>nullpicture</string>
		<string>normaldeviate</string>

		<string>and</string>
		<string>dotprod</string>
		<string>div</string>
		<string>infont</string>
		<string>mod</string>
		<string>or</string>
		<string>intersectionpoint</string>
		<string>intersectiontimes</string>
		<string>cutafter</string>
		<string>cutbefore</string>

		<string>arctime</string>
		<string>direction</string>
		<string>directiontime</string>
		<string>directionpoint</string>
		<string>glyph</string>
		<string>penoffset</string>
		<string>point</string>
		<string>postcontrol</string>
		<string>precontrol</string>
		<string>subpath</string>
		<string>substring</string>

		<string>abs</string>
		<string>angle</string>
		<string>arclength</string>
		<string>ASCII</string>
		<string>bbox</string>
		<string>blackpart</string>
		<string>bluepart</string>
		<string>bot</string>
		<string>bounded</string>
		<string>ceiling</string>
		<string>center</string>
		<string>char</string>
		<string>clipped</string>
		<string>colormodel</string>
		<string>cosd</string>
		<string>cyanpart</string>
		<string>cycle</string>
		<string>dashpart</string>
		<string>decimal</string>
		<string>dir</string>
		<string>floor</string>
		<string>filled</string>
		<string>fontpart</string>
		<string>fontsize</string>
		<string>greenpart</string>
		<string>greypart</string>
		<string>hex</string>
		<string>interval_get_left_endpoint</string>
		<string>interval_get_right_endpoint</string>
		<string>interval_set</string>
		<string>inverse</string>
		<string>known</string>
		<string>length</string>
		<string>lft</string>
		<string>llcorner</string>
		<string>lrcorner</string>
		<string>magentapart</string>
		<string>makepath</string>
		<string>makepen</string>
		<string>mexp</string>
		<string>mlog</string>
		<string>not</string>
		<string>oct</string>
		<string>odd</string>
		<string>pathpart</string>
		<string>penpart</string>
		<string>readfrom</string>
		<string>redpart</string>
		<string>reverse</string>
		<string>round</string>
		<string>rt</string>
		<string>sind</string>
		<string>sqrt</string>
		<string>stroked</string>
		<string>textpart</string>
		<string>textual</string>
		<string>top</string>
		<string>ulcorner</string>
		<string>uniformdeviate</string>
		<string>unitvector</string>
		<string>unknown</string>
		<string>urcorner</string>
		<string>xpart</string>
		<string>xxpart</string>
		<string>xypart</string>
		<string>yellowpart</string>
		<string>ypart</string>
		<string>yxpart</string>
		<string>yypart</string>
		</array>

	<key>BBLMPredefinedNameList</key>
		<array>
		<string>ahangle</string>
		<string>ahlength</string>
		<string>bboxmargin</string>
		<string>charcode</string>
		<string>day</string>
		<string>defaultcolormodel</string>
		<string>defaultpen</string>
		<string>defaultscale</string>
		<string>dotlabeldiam</string>
		<string>hour</string>
		<string>hppp</string>
		<string>labeloffset</string>
		<string>linecap</string>
		<string>linejoin</string>
		<string>minute</string>
		<string>miterlimit</string>
		<string>month</string>
		<string>mpprocset</string>
		<string>numberprecision</string>
		<string>numbersystem</string>
		<string>pausing</string>
		<string>prologues</string>
		<string>restoreclipcolor</string>
		<string>showstopping</string>
		<string>time</string>
		<string>tracingcapsules</string>
		<string>tracingchoices</string>
		<string>tracingcommands</string>
		<string>tracingequations</string>
		<string>tracinglostchars</string>
		<string>tracingmacros</string>
		<string>tracingonline</string>
		<string>tracingoutput</string>
		<string>tracingrestores</string>
		<string>tracingspecs</string>
		<string>tracingstats</string>
		<string>tracingtitles</string>
		<string>troffmode</string>
		<string>truecorners</string>
		<string>vppp</string>
		<string>warningcheck</string>
		<string>year</string>

		<string>jobname</string>
		<string>outputfilename</string>
		<string>outputformat</string>
		<string>outputformatoptions</string>
		<string>outputtemplate</string>

		<string>currentpen</string>
		<string>currentpicture</string>
		<string>cuttings</string>
		<string>defaultfont</string>
		<string>extra_beginfig</string>
		<string>extra_endfig</string>

		<string>background</string>
		<string>beveled</string>
		<string>black</string>
		<string>blue</string>
		<string>bp</string>
		<string>butt</string>
		<string>cc</string>
		<string>cm</string>
		<string>dd</string>
		<string>ditto</string>
		<string>down</string>
		<string>epsilon</string>
		<string>evenly</string>
		<string>EOF</string>
		<string>false</string>
		<string>fullcircle</string>
		<string>green</string>
		<string>halfcircle</string>
		<string>identity</string>
		<string>in</string>
		<string>infinity</string>
		<string>left</string>
		<string>mitered</string>
		<string>mm</string>
		<string>mpversion</string>
		<string>nullpen</string>
		<string>nullpicture</string>
		<string>origin</string>
		<string>pc</string>
		<string>pencircle</string>
		<string>pensquare</string>
		<string>penrazor</string>
		<string>penspeck</string>
		<string>pt</string>
		<string>quartercircle</string>
		<string>red</string>
		<string>right</string>
		<string>rounded</string>
		<string>squared</string>
		<string>true</string>
		<string>unitsquare</string>
		<string>up</string>
		<string>white</string>
		<string>withdots</string>
		</array>

	<key>BBLMCommentLineDefault</key>
		<string>%</string>

	<key>Language Features</key>
		<dict>
			<key>Identifier and Keyword Character Class</key>
				<string>A-Za-z_</string>

			<key>Open Line Comments</key>
				<string>%</string>

			<key>Open Strings 1</key>
				<string>"</string>
			<key>Close Strings 1</key>
				<string>"</string>

			<key>Function Pattern</key>
				<string><![CDATA[
					(?xsm:^(?P<function>
						(?P<function_name>
							(def\b|vardef\b|nextfig\b|beginfig\(\d+\)).*?$
						)
						.*?\b(enddef|endfig)\s*;?
					))
				]]></string>
		</dict>
</dict>
</plist>
